.start-position {
    width: inherit;
    position: fixed;
    bottom: -40px;
    transition: 1s;
}

.fixed {
    bottom: 0;
}

.FooterNavbar {

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
}

li {
    font-size: 1rem;
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.viewed {
    color: white;
}

a:hover {
    color: brown;
    text-decoration: underline;
}