.LoginForm {
    border: 1px white solid;
    border-radius: 10px;
    width: 500px;
    height: 600px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.LoginForm form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 65%;
    align-items: center;

}
.LoginForm .google {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: transparent;
    border: 1px rgb(18, 74, 194) solid;
    cursor: pointer;
}
.LoginForm .google:hover {
    text-decoration: underline;
}
.LoginForm .google img {
    width: 20px;
}

.LoginForm form label {
    width: 100%;
    font-size: 1.2rem;
    text-align: left;
    /* background-color: aqua; */
}
.LoginForm form input {
    width: 100%;
    font-size: 1.2rem;
    height: 2rem;
    border-radius: 10px;
    border: 0;
}

.LoginForm .signup {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
        .LoginForm {
        width: 100%;
        border: 0;
    }
}