.PasswordInput {
    display: flex;
    flex-direction: column;
    width: 100%;    
}

.PasswordInput label {
    width: 100%;
    font-size: 1.5rem;
    text-align: left;
    padding: 5px 20px;    
}
.PasswordInput label::after {
    content: '*';
    color: rgb(143, 82, 82);
}

.PasswordInput .only-input {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.PasswordInput .only-input input {
    width: 100%;
    font-size: 1.5rem;
    height: 2.5rem;
    border-radius: 20px;
    border: 0;
    padding-left: 10px;
    padding-right: 40px;
}

.PasswordInput .only-input .icon {
    position: absolute;
    left: 90%;
    color: rgb(21, 32, 43);
    font-size: 1.2rem;
}
