.ProfileOnlyView {
    margin-top: 30px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.ProfileOnlyView .display-name {
    font-size: 2.5rem;
}

.ProfileOnlyView .avatar-lg {
    position: relative;
}

.ProfileOnlyView .email {
    font-size: 2rem;
    color: cadetblue;
    text-decoration: underline;
}

.ProfileOnlyView .signed-in {
    font-size: 1.2rem;
    color:gray;
}

.ProfileOnlyView .created-in {
    font-size: 1.2rem;
    color:gray;
}
