.ProfileEdit {
    margin-top: 30px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.ProfileEdit .title {
    font-size: 2.5rem;
}

.ProfileEdit form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.ProfileEdit .edit-mode {
    width: 300px;
}

.ProfileEdit .avatar-lg {
    position: relative;
}

.ProfileEdit .email {
    font-size: 2rem;
    color: cadetblue;
    text-decoration: underline;
}


@media screen and (width <=600px) {
 
}