.SignInForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.SignInForm form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 65%;
    align-items: center;

}

.SignInForm .google {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: transparent;
    border: 1px rgb(18, 74, 194) solid;
    cursor: pointer;
}

.SignInForm .google:hover {
    text-decoration: underline;
}

.SignInForm .google img {
    width: 20px;
}

.SignInForm form label {
    width: 100%;
    font-size: 1.2rem;
    text-align: left;
    /* background-color: aqua; */
}

.SignInForm form input {
    width: 100%;
    font-size: 1.2rem;
    height: 2rem;
    border-radius: 10px;
    border: 0;
}

.SignInForm .signup {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    font-size: 1.5rem;
}

.SignInForm .Alert {
    position: relative;
    left: 0;
    width: 65%;
}