.SignUpForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SignUpForm form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 65%;
    align-items: center;
}

.SignUpForm .signin-link {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    font-size: 1.5rem;
}

.SignUpForm .Alert {
    position: relative;
    left: 0;
    width: 65%;
}

.SignUpForm button {
    width: 100px;
}

@media screen and (width <=600px) {
    .SignUpForm form {
        width: 100%;
    }
}