.App {
  width: 100vw;
  text-align: center;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@media screen and (min-width: 1026px) {
  .App {
      width: 1026px;
  }
}

